<!DOCTYPE html>
<html>

  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/landing.css' />
  </head>

  <body>
    <h1 class="rl-landing-header">Running <br/> Lean</h1>

    <form method="post" action="/canvas" class="rl--new-canvas-form">
      <button type="submit" class="rl--new-canvas-button">Create New Canvas</button>    
    </form>

    <% for(var i = 0; i < canvases.length; i++) {%>
      <div>
        <%- link_to((canvases[i].title || '(no title)'), 'canvas/' + canvases[i].id) %>
      </div>
    <% } %>

  </body>


</html>
