html, body {
  height: 100%;
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Sansita-BlackItalic";
  src: url(/assets/fonts/Sansita-BlackItalic.otf) format("opentype");
}